openapi: 3.1.0
info:
  title: SOPHIA Reasoning API
  version: 1.0.0
  description: API contract for SOPHIA reasoning verification endpoint.
servers:
  - url: https://usesophia.app
paths:
  /api/v1/verify:
    post:
      summary: Verify reasoning quality for input text
      operationId: verifyReasoning
      security:
        - BearerApiKey: []
      parameters:
        - in: header
          name: Accept
          required: false
          schema:
            type: string
            enum: [application/json, text/event-stream]
          description: Use text/event-stream for streaming mode.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                answer:
                  type: string
                text:
                  type: string
                domain_hint:
                  type: string
                depth:
                  type: string
                  enum: [quick, standard, deep]
              anyOf:
                - required: [text]
                - required: [answer]
      responses:
        '200':
          description: Verification result (JSON mode)
          headers:
            X-Request-Id:
              schema:
                type: string
            X-Processing-Time-Ms:
              schema:
                type: string
            X-Token-Usage:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResult'
            text/event-stream:
              schema:
                type: string
                description: Stream of JSON events in SSE format.
        '400':
          $ref: '#/components/responses/Problem'
        '401':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/Problem'
        '500':
          $ref: '#/components/responses/Problem'
components:
  securitySchemes:
    BearerApiKey:
      type: http
      scheme: bearer
      bearerFormat: API key
  responses:
    Problem:
      description: Problem details error response
      headers:
        X-Request-Id:
          schema:
            type: string
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
  schemas:
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        request_id:
          type: string
      required: [title, status, request_id]
    VerificationResult:
      type: object
      properties:
        request_id:
          type: string
        extracted_claims:
          type: array
          items:
            type: object
            additionalProperties: true
        logical_relations:
          type: array
          items:
            type: object
            additionalProperties: true
        reasoning_quality:
          type: object
          additionalProperties: true
        constitutional_check:
          type: object
          additionalProperties: true
        pass_outputs:
          type: object
          additionalProperties: true
        metadata:
          type: object
          additionalProperties: true
      required: [request_id, extracted_claims, logical_relations, reasoning_quality, metadata]
